<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1 th:text="'Delete ' + ${workout.name}"/>

<p>Deleting this workout will completely remove it from the list of available options. Are you sure you want to delete the following workout?</p>

<p><strong>Name: </strong><th:block th:text="${workout.name}"/></p>
<p><strong>Exercise Duration: </strong><th:block th:text="${workout.secondsDuration} + ' seconds per exercise'"/></p>
<p><strong>Rest Period: </strong><th:block th:text="'After every ' + ${workout.restInterval} + ' exercise(s)'"/></p>
<p><strong>Total Time: </strong><th:block th:text="${totalDuration} + ' minutes'"/></p>

<p><strong>Exercises:</strong></p>

<div style="max-width:600px;">
    <list>
        <ul th:unless="${exercises.size() > 0}">No exercises to display</ul>
        <ul th:each="exercise : ${exercises}" th:text="${exercise.name}"/>
        </ul>
    </list>
</div>

<form class="form-group" th:method="delete">
    <input class="btn btn-primary" type="submit" value="Delete"/>
</form>

</body>
</html>