<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1>Select Workout</h1>

<p>Choose the workout you would like to view and begin, modify, or remove from the list.</p>

<div class="workoutSelect">
    <table class="table" style="max-width:600px;">
        <tr th:each="workout : ${workouts}">
            <td><strong><a th:href="@{/select/view/{id}(id=${workout.id})}" th:text="${workout.name}"/></strong></td>
            <td><a th:href="@{/select/edit/{id}(id=${workout.id})}" th:text="Edit"/></td>
            <td><a th:href="@{/select/delete/{id}(id=${workout.id})}" th:text="Delete"/></td>
        </tr>
    </table>
</div>

</body>
</html>