<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1 th:text="${workout.name}"></h1>
<p><strong>Exercise Duration: </strong><th:block th:text="${workout.secondsDuration} + ' seconds per exercise'"/></p>
<p><strong>Rest Period: </strong><th:block th:text="'After every ' + ${workout.restInterval} + ' exercise(s)'"/></p>
<p><strong>Total Time: </strong><th:block th:text="${totalDuration} + ' minutes'"/></p>

<p><strong>Exercises:</strong></p>

<div style="max-width:600px;">
    <list>
        <ul th:unless="${exercises.size() > 0}">No exercises to display</ul>
        <ul th:each="exercise : ${exercises}" th:text="${exercise.name}"/>
    </list>
</div>

<div class="form-group">
    <a th:href="@{/select/workout/{id}(id=${workout.id})}"><button type="button" class="btn btn-primary">Start Workout</button></a>
</div>

</body>
</html>