<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1 th:text="${workout.name}"></h1>
<p><strong>Exercise Duration: </strong><th:block th:text="${workout.secondsDuration} + ' seconds per exercise'"/></p>
<p><strong>Rest Periods: </strong><th:block th:text="'Rest after every ' + ${workout.restInterval} + ' exercise(s)'"/></p>

<p><strong>Exercises:</strong></p>

<div>
    <list>
        <ul th:each="exercise : ${exercises}" th:text="${exercise.name}"/>
        </ul>
    </list>
</div>

<a th:href="@{/select/workout/{id}(id=${workout.id})}"><button type="button" class="btn btn-primary">Start Workout</button></a>

</body>
</html>