<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<script th:inline="javascript">
    window.onload = function () {
    let duration = /*[[${workout.secondsDuration}]]*/;
    let display = document.querySelector('#timer');
    let exerciseNumber = /*[[${exercises.size()}]]*/;
    countdownTimer(duration, display, exerciseNumber);
    };
</script>

<nav th:replace="fragments :: page-header"></nav>

<div class="workoutDisplay">
<h1 th:text="${workout.name}"></h1>
    <p hidden th:each="exercise : ${exercises}" th:id="${exercises.indexOf(exercise)}" th:text="${exercise.name}"/>
    <p id="timer" class="timer"/>
</div>

</div>

</body>
</html>