.body-content {
    margin-top: 75px;
}

h1 {
    padding-bottom: 20px;
}

td, th {
    padding: 10px;
}

.error {
    color: #FF0000;
}

.numError {
    color: #FF0000;
}

.workoutSelect {
    font-weight: bold;
}

.workoutDisplay {
    text-align: center;
    font-size: xx-large;
    padding: 50px;
}

.timer {
    color: #378805;
}