<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="container body-content">

<div th:replace="fragments :: page-header"></div>

<h1>Account</h1>

<p>Complete the fields below if you would like to change your password.</p>

<form method="post" class="section">
    <div class="form-group">
        <label>Current Password
            <input class="form-control" th:field="${updateAccountDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${updateAccountDTO.password}"></p>
    </div>

    <div class="form-group">
        <label>New Password
            <input class="form-control" th:field="${updateAccountDTO.newPassword}" type="password" />
        </label>
        <p class="error" th:errors="${updateAccountDTO.newPassword}"></p>
    </div>
    <div class="form-group">
        <label>Verify New Password
            <input class="form-control" th:field="${updateAccountDTO.verifyPassword}" type="password" />
        </label>
    </div>
    <div class="section">
        <input type="checkbox" th:field="${updateAccountDTO.deleteAccount}"><strong class="error">  Delete Account</strong> (NOTE: This will permanently delete your Word-A-Day account and all of your information)
        <input type="hidden" th:field="${updateAccountDTO.deleteAccount}" value="false"/>
    </div>
    <br>
    <div class="section">
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
    <div th:text="${passwordUpdated}" class="success"></div>
</form>


</body>
</html>