<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/hiitbuilder.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>

    <title>HIIT Workout Builder</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">HIIT Workout Builder</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/exercises}">Add Exercises</a></li>
                <li><a th:href="@{/create}">Create Workout</a></li>
                <li><a th:href="@{/select}">Select Workout</a></li>
                <li><a th:href="@{/account}">Account</a></li>
                <li><a th:href="@{/logout}">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="page-header-login" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">HIIT Workout Builder</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/register}">Register</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>