<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">

<div th:replace="fragments :: page-header"></div>

<h1 th:text="'Hello, ' + ${username} + '!'"/>

<p>This application allows you to build and then be led through customized high intensity
    interval training (HIIT) workouts. HIIT workouts are relatively short and combine
    strength and cardiovascular exercises for an intense training session. Use the navigation to
    add to your list of exercises, put the exercises of your choice into a workout program,
    and then be led through the workouts that you create! You can read more about HIIT on
    <a href="https://en.wikipedia.org/wiki/High-intensity_interval_training" target="_blank">Wikipedia</a>.

</body>
</html>