<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">

<div th:replace="fragments :: page-header"></div>

<h1>Welcome</h1>

<p>This application allows you to build and then be led through custom high intensity
    interval training (HIIT) workouts. HIIT workouts are relatively short and typically combine
    strength and cardiovascular exercises for an intense training session. Use the above
    navigation to create a list of exercises, add the exercises of your choice to a workout program,
    and then be led through the workouts that you create. You can read more about HIIT on
    <a href="https://en.wikipedia.org/wiki/High-intensity_interval_training" target="_blank">Wikipedia</a>.
    This application is under active development with new features being added regularly; you can
    always find the most recent version the <a href="https://github.com/cgeffre/hiit-workout-builder" target="_blank">
        GitHub repository</a> for this project.</p>

</body>
</html>