<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">

<div th:replace="fragments :: page-header"></div>

<h1>Welcome</h1>

<p>Please log in or create an account to build and be led through customized
    high-intensity interval training workouts! This application is under active development
    with new features being added regularly. You always follow the most recent developments
    at the <a href="https://github.com/cgeffre/hiit-workout-builder" target="_blank">GitHub repository</a> for this project.</p></p>

<form method="post">
    <div class="form-group">
        <label th:for="username">Username
            <input class="form-control" th:field="${loginFormDTO.username}">
        </label>
        <p class="error" th:errors="${loginFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${loginFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Log In" />
</form>

<p>Don't have an account? <a href="/register">Register for one.</a></p>

</body>
</html>