<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1 th:text="'Delete ' + ${exercise.name}"/>

<p>Deleting this exercise will remove it from all associated workouts.
Are you sure you want to delete this exercise?</p>

<form class="form-group" th:method="delete">
    <input class="btn btn-primary" type="submit" value="Delete"/>
</form>

</body>
</html>