<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1>Add Exercises</h1>

<form method="post" style="max-width:200px;">
    <div class="form-group">
        <input class="form-control" th:field="${exercise.name}" />
        <div th:errors="${exercise.name}" class="error"></div>
    </div>
    <input type="submit" value="Add" class="btn btn-primary"/>
</form>
<div class="success" th:text="${exerciseAdded}"/>

<h2>My Exercises</h2>

<table class="table" style="max-width: 600px;">
    <tr th:each="exercise : ${exercises}">
        <td  th:text="${exercise.name}"/>
        <td><a th:href="@{/exercises/edit/{id}(id=${exercise.id})}" th:text="Edit"/></td>
        <td><a th:href="@{/exercises/delete/{id}(id=${exercise.id})}" th:text="Delete"/></td>
    </tr>
</table>

</body>
</html>